
span{
    text-align: center;
  display: inline-block;
    width:30px;
    font-size: 12px;

}
#output {
  overflow-x: scroll;          
  scrollbar-width: none;
}
#oddRight{
    width:50px;
  
}



#fiboSquare{
    width:35px;
    font-size: 12px;
}
#fibo{
    width:35px;
    text-align: center;
    display: inline-block;
}
#fiboDiamond{
    width:62px;
    font-size: 13px;
}
#fiboHour{
    width:50px;
    text-align: center;
    font-size: 12px;
}
#rightFibo{
    width:30px;
    font-size: 12px;
}
#FiboRight{
    width:35px;
}
#factPattern{
    width:50px;
}
#palindrome{
    width:12px;
}
#factPyramid{
   
    text-align: center;
    width:40px;
    font-size: 8px;
}
#factSquare{
   text-align: center;
   width:50px;
   overflow-x: scroll;
   scrollbar-width: none;
}
#isfact{
 display: inline-block;
   text-align: center;
   width:64px;
}
#facttriangle{
  width: 60px;  
  text-align: right;
  overflow-x: scroll;
  scrollbar-width: none;
}


.animate {
  animation: round 0.5s linear infinite;
}




@keyframes round{
   from{
        transform: rotate(0deg);
   }
   to{
    transform: rotate(360deg);
   }
}
.scalePyramid{
    animation: pyramid 0.5s linear infinite;
}

@keyframes pyramid{
   from{
        transform: scale(0)
   }
  
}
.bounceReversePyramid{
    animation: bounce 0.5s alternate infinite;
}
@keyframes bounce {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-20px);
    }
}
.shakeDiamond{
    animation: diamond 0.5s linear infinite;

}

@keyframes diamond {
     0%,100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.fadeTriangle{
    animation: fade 0.5s linear infinite;

}
@keyframes fade{
    from{
       opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.flipTriangle{
    animation: flip 0.5s linear infinite;

}
@keyframes flip{
    from{
      transform: rotateY(0);
    }
    to{
       transform: rotateY(180deg);
    }
}
.swingHourglass{
    animation : swing 0.5s linear infinite;
     transform-origin: top center;
}
@keyframes swing {
    0%   { transform: rotate(10deg); }
  50%  { transform: rotate(-10deg); }
  100% { transform: rotate(10deg); }
}
@keyframes wave {
   0%   { transform: rotate(15deg); }
  50%  { transform: rotate(-15deg); }
  100% { transform: rotate(15deg); }
}
.waveTriangle{
    animation:wave 0.5s infinite;
}

.main{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);

}
#main {
  width: 1200px; 
  display: flex;
  justify-content: center;
  align-items: center;            
  box-sizing: border-box; 
}






@media (max-width: 480px) {
  #main {
   width:100%;
   padding-left: 10px;
   padding-right: 10px;
  }
  #num{}
  #card{
    width:100%;
  }
}
