

span{
  display: inline-block;
    
   padding:0 5px;
  
   
    font-size: 12px;
    text-align: center;

}
#output{
    text-align: center;
    display: inline-block;
    overflow-x: scroll;
    scrollbar-width: none;
    width:100%;
   
}



#SquareOdd,#squareEven,#squarePrime{
    text-align: center;
     overflow-x: scroll;
   width:30px;
   scrollbar-width: none;
    
}


#oddPyramid,#EvenPyramid,#PrimePyramid{
    width:50px;
    overflow-x: scroll;
    scrollbar-width: none;
}
#fiboSquare{
   overflow-x: scroll;
   width:50px;
   scrollbar-width: none;
}
#factSquare{
   text-align: center;
   width:50px;
   overflow-x: scroll;
   scrollbar-width: none;
}
#fiboPyramid{
     text-align: center;
    width:50px;
    overflow-x: scroll;
   scrollbar-width: none;

}
#factPyramid{
     text-align: center;
    width:50px;
    overflow-x: scroll;
   scrollbar-width: none;
}
#reversefactPyramid{
    overflow-x: scroll;
    scrollbar-width: none;
    width:50px;
}
#reversePrime,#reverseEven,#reverseOdd{
    width:50px;
    overflow-x: scroll;
    scrollbar-width: none;
}
#fiboReversePyramid{
      text-align: center;
    width:50px;
    overflow-x: scroll;
   scrollbar-width: none;
}
#oddPyramid{
    text-align: center;
    width:50px;
    overflow-x: scroll;
   scrollbar-width: none;
}
#fiboDiamond{
     text-align: center;
    width:50px;
    overflow-x: scroll;
   scrollbar-width: none;
}
#factDiamond{
     text-align: center;
    width:50px;
    overflow-x: scroll;
   scrollbar-width: none;
}
#rightFibo{
     float:right;
    width:50px;
    overflow-x: scroll;
   scrollbar-width: none;
}
#facttriangle{
    float:right;
    width:55px;
    overflow-x: scroll;
   scrollbar-width: none;
}
#fiboHour{
      text-align: center;
    width:50px;
    overflow-x: scroll;
   scrollbar-width: none;
}
#facthour{
    width:50px;
    scrollbar-width: none;
    overflow-x: scroll;
}
#factPyramid{
      text-align: center;
    width:50px;
    overflow-x: scroll;
   scrollbar-width: none;
}
#OddrightTriangle{
      text-align: center;
    width:50px;
    overflow-x: scroll;
   scrollbar-width: none;
}
#leftTriangleOdd,#evenleftTriangle,#primeleftTriangle{
   
    width:50px;
  
    float:left;    
   
    
}
#factleftTriangle,#fiboleftTriangle{
    overflow-x: scroll;
    scrollbar-width: none;
    float:left;
    width:50px;
}
#OddrightTriangle,#evenRightTriangle,#primeRightTriangle{
    width:50px;
    float:right;
    overflow-x: sroll;
    scrollbar-width: none;
    
}
#factRight,#fiboRight{
    width:50px;
    overflow-x: scroll;
    scrollbar-width: none;
    float:left;
}
#palindromePyramid{
    width:20px;
    overflow-x: scroll;
    
    scrollbar-width: none;

}
#palindromeDiamond{
    width:20px;
    overflow-x: scroll;
    scrollbar-width: none;
}
#palindrome{
     
   
    float:right;
    width:25px;
    overflow-x: scroll;
    scrollbar-width: none;
}
#primeInvertedRight,#evenInvertedRight,#oddInvertedRight{
    width:40px;
    overflow-x: scroll;
    scrollbar-width: none;
    float: left;
}
#palindromeInvertedRight{
    float:left;
    scrollbar-width: none;
    overflow-x: scroll;
}
#palindromeleft{
    float:left;
}






.animate {
  animation: round 0.5s linear infinite;
}




@keyframes round{
   from{
        transform: rotate(0deg);
   }
   to{
    transform: rotate(360deg);
   }
}
.scalePyramid{
    animation: pyramid 0.5s linear infinite;
}

@keyframes pyramid{
   from{
        transform: scale(0)
   }
  
}
.bounceReversePyramid{
    animation: bounce 0.5s alternate infinite;
}
@keyframes bounce {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-20px);
    }
}
.shakeDiamond{
    animation: diamond 0.5s linear infinite;

}

@keyframes diamond {
     0%,100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.fadeTriangle{
    animation: fade 0.5s linear infinite;

}
@keyframes fade{
    from{
       opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.flipTriangle{
    animation: flip 0.5s linear infinite;

}
@keyframes flip{
    from{
      transform: rotateY(0);
    }
    to{
       transform: rotateY(180deg);
    }
}
.swingHourglass{
    animation : swing 0.5s linear infinite;
     transform-origin: top center;
}
@keyframes swing {
    0%   { transform: rotate(10deg); }
  50%  { transform: rotate(-10deg); }
  100% { transform: rotate(10deg); }
}
@keyframes wave {
   0%   { transform: rotate(15deg); }
  50%  { transform: rotate(-15deg); }
  100% { transform: rotate(15deg); }
}
.waveTriangle{
    animation:wave 0.5s infinite;
}

.main{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);

}
#main {
  width: 1200px; 
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;          
  box-sizing: border-box; 
}






@media (max-width: 480px) {
  #main {
   width:100%;
 
   
  
   padding-top: 10px;
   
   
  }
  span{
    text-align: center;
    display: inline-block;
    
    
  }
  
  
  #output{
    width:100%;
   
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 400px;
    text-align: center;
   
   overflow-x: scroll;
   
    
    
   
    
  }
  
  #SquareOdd,#squareEven,#squarePrime,#fiboSquare{
   
   width:13px;
    overflow-x: scroll;
    scrollbar-width: none;
    text-align: center;
  
    
}
#oddPyramid,#EvenPyramid{
    width:13px;
    overflow-x: scroll;
    scrollbar-width: none;
   
  
    text-align: center;
}
#PrimePyramid,#fiboPyramid,#factPyramid{
       width:13px;
   
  overflow-x: scroll;
    scrollbar-width: none;
    text-align: center;
}
#factSquare{
    width:18px;
}
#fiboPalindrome{
    width:0px;
    font-size: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
}
#palindromePyramid{
    width:5px;
    
    overflow-x: scroll;
    scrollbar-width: none;
}
#reverseOdd,#reverseEven,#reversePrime,#fiboReversePyramid,#reversefactPyramid{
    width:13px;
    font-size: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
}
#oddDiamond,#primeDiamond,#fiboDiamond,#factDiamond,#EvenDiamond{
    width:13px;
    overflow-x: scroll;
    scrollbar-width: none;
}
#OddrightTriangle,#evenRightTriangle,#primeRightTriangle,#rightFibo,#facttriangle{
     width:15px;
    overflow-x: scroll;
    scrollbar-width: none;
    display: inline-block;
    
   
}
#oddHourGlass,#evenHourGlass,#primeHourGlass,#fiboHour,#facthour{
     width:13px;
    overflow-x: scroll;
    scrollbar-width: none;
    text-align: center;
}
#leftTriangleOdd,#evenleftTriangle,#primeleftTriangle,#fiboleftTriangle,#factleftTriangle{
    width:17px;
    scrollbar-width: none;
    overflow-x: scroll;

}
#oddRight,#evenRight,#primeRight,#fiboRight,#factRight{
    width:18px;
    scrollbar-width: none;
    overflow-x: scroll;
}
#palindrome{
    width:-20px;
    scrollbar-width: none;
    overflow-x: scroll;
}
#palindromePyramid{
    width:10px;
    scrollbar-width: none;
    overflow-x: scroll;
}
#palindromeInvertedRight{
    scrollbar-width: none;
    overflow-x: scroll;
    width:0px;
}
#palindromeHourGlass{
    scrollbar-width: none;
    overflow-x: scroll;
    width:0px;
}

 
 

  #card{
    width:100%;
    
   
  }
}
@media(max-width:867px){
    #main{
        width:100%;
    }
}
