.ast{
      animation: Risk 1s linear infinite;
}
@keyframes Risk{
   from{
        transform: rotate(0deg);
   }
   to{
    transform: rotate(360deg);
   }
}
#number{
    animation:round 1s linear infinite;
    display: inline-block;
}
@keyframes round{
   from{
        transform: rotate(0deg);
   }
   to{
    transform: rotate(360deg);
   }
}
.odd-number{
    animation:number 1s linear infinite;
    display: inline-block;

}
@keyframes number{
   from{
        transform: rotate(0deg);
   }
   to{
    transform: rotate(360deg);
   }
}

@media (max-width:481px){
    #main-container{
        flex-direction: column;
    }
}